### dynamic
data_dir=
postgres_pass=

### static
postgres_url=postgres://postgres:${postgres_pass}@postgres:5432/asr?sslmode=disable
asr_url=http://proxy/ausis
asr_model=ben-tel
proxy_network=list_default

## user id and group
## can be get with cmd `id`
## admin, or current user, or some dedicated user
asr_uid=0
asr_gid=0
